<form id="formulario" enctype="multipart/form-data">
    <input type="text" id="" placeholder="Nombre del producto" required="" name="title">
    <input type="text" id="" placeholder="Descripcion" required="" name="description">
    <input type="number" name="code" id="code" placeholder="codigo" required="">
    <input type="number" name="price" id="price" placeholder="precio"  required="">
    <select class="" aria-label="Default select example" required="" name="status">
        <option selected>Estado</option>
        <option value="true">True</option>
        <option value="false">False</option>
    </select>
    <input type="number" name="stock" id="stock" placeholder="stock" required="">
    <input type="text" name="category" id="" placeholder="categoria" required="">
    <input type="file" name="thumbnails">
    <input type="submit" value="Agregar">
</form>

    <div class="container contenedor contenedor_tiempo_real"> 
     <div class="row">
            <div class="col col__principal">
                ID
            </div>
            <div class="col col__principal">
                Product
            </div>
            <div class="col col__principal">
                Description
            </div>
            <div class="col col__principal">
                Price
            </div>
            <div class="col col__principal">
                Stock
            </div>
        </div>
        <div class="actualizar">
    {{#each products}}
        <div class="row">
            <div class="col">{{this._doc._id}}</div>
            <div class="col">{{this._doc.title}}</div>
            <div class="col">{{this._doc.description}}</div>
            <div class="col">{{this._doc.price}}</div>
            <div class="col">{{this._doc.stock}}</div>
        </div>
    {{/each}}
    </div>
</div>
<form id="eliminar" style="margin-top: 30px;">
    <input type="text" placeholder="ID a eliminar">
    <input type="submit" value="Eliminar">
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>